@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
}
:root{
    --cor-principal:#A1CCD1;
    --cor-secundaria:#F4F2DE;
    --cor-terciaria:#E9B384;
    --cor-quarternaria:#7C9D96;
    --fonte:'Lobster', cursive;
    --fonte-color:green;
    --fonte--paragrafo:'Preahvihear',sans-serif ;
    --fonte--rodape:'Titillium Web', sans-serif;
}
.paragrafo{
    font-family: var(--fonte--paragrafo);  
    font-size: 15px;
}
body{
    background-color:var(black) ;
    box-sizing: border-box;
}
.cabecalho{
    background-color:var(--cor-terciaria);
    padding-top: 2%;
    padding-bottom: 2%;
}
.cabecalho__navegacao{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 80PX;
}
.cabecalho__navegacao__links
{
    text-decoration: none;
    font-family: var(--fonte);
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
    
}

.principal__div{
    /*width: 400px;*/
    height:390px ;
    background-color:var(--cor-principal);
    padding-top: 30px;
    width: 100%;
    text-align: center;
    background-image: url('../images/background.png'),none
   
}
.principal__div__titulo{
    font-family: var(--fonte);
    padding-top: 120px;
    padding-bottom: 1%;
}

.secundaria__div{
    height:350px;
    background-color:var( --cor-secundaria);
    padding-top: 30px;
    text-align: center;
    font-family: var(--fonte);
    width: 100%;
}
.secundaria__div__titulo{
    font-family: var(--fonte);
    padding-bottom: 1%;
}

.rodape{
    background-color:var(--cor-terciaria);
    text-align: center; 
    height: 34px;
}
.rodape__texto{
    font-family: var(--fonte--rodape);
}